body {
  margin: 0;
  min-width: 1200px;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  font-family: 'PT Sans', "Arial", sans-serif;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

h1 {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.wrapper {
	width: 1200px;
  margin: 0 auto;
	box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  background-color: #ffffff;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-navigation {
  position: relative;
}

.main-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;

  font-size: 14px;
  line-height: 26px;
  font-weight: bold;

  /*text-align: center;*/
  vertical-align: top;

  width: 240px;

  padding-top: 15px;
  padding-bottom: 15px;
}

.main-navigation a {
  /*display: block;*/

  color: #000000;
  text-decoration: none;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:focus {
  color: #766357;
}

.main-navigation-left {
  float: left;

}

.nav-li-left {
	text-align: left;
}

.main-navigation-left li:first-child {
	padding-left: 72px;
}

.index-logo {
  position: absolute;
  left: 50%;
  margin-left: -69px;
}

.main-navigation-right {
  float: right;

}

.nav-li-right {
	text-align: right;
}

.main-navigation-right li:last-child {
	padding-right: 72px;
}

.greetings {
  min-height: 508px;
  margin-bottom: 62px;
  background-color: #e4f1f9;
  background-image: url("../img/index-mountain-bottom.png"),
  url("../img/index-mountain.jpg");
  background-repeat: no-repeat;
  background-position: 0 451px, 0 -50px;
  background-size: 100% 57px, 100%;

}

.title {
  margin-left: 506px;
  margin-top: 77px;
  margin-bottom: 11px;
}

.line  {
  margin-left: 472px;
  margin-bottom: 55px;
}

.sedona {
  margin-left: 371px;
  margin-bottom: 56px;
}

.taqline {
  margin-left: 452px;
}

.index-features {
  background: #ffffff;
}

.index-tagline {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;

  margin: 0 auto;
  margin-bottom: 33px;

  text-align: center;
}

.index-reasons {
  font-size: 14px;
  line-height: 26px;

  margin: 0 auto;
  margin-bottom: 53px;

  text-align: center;
}

.info-main {
  min-height: 256px;
  background-color: chocolate;
  background-image: url("../img/index-city.jpg");
  background-repeat: no-repeat;
  background-position: 400px 0;
  background-size: 800px;
}

.main-text {
  float: left;
  width: 400px;

  text-align: center;
  background-color: rgba(129, 179, 210, 1);
  color: #ffffff;
}

.main-title {
  width: 155px;

  font-size: 21px;
  line-height: 26px;
  font-weight:bold;

  margin: 0 auto;
  padding-top: 45px;
}

.main-number {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;

  padding-top: 18px;
}

.main-features {
  width: 285px;

  font-size: 14px;
  line-height: 26px;
  font-weight: normal;

  padding-top: 18px;
  padding-bottom: 45px;
  margin: 0 auto;
}

.column {
  float:left;
  width: 400px;
  min-height: 330px;
}

.info-title {
  width: 125px;

  font-size: 21px;
  line-height: 21px;
  font-weight:bold;

  margin: 0 auto;
  padding-top: 164px;

  text-align: center;
  position: relative;
}

.info-title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  background-position: -10px -577px;
}

.food::before {
  width: 74px;
  height: 70px;
  background-position: -10px -265px;
}

.souvenirs::before {
  width: 64px;
  height: 76px;
  background-position: -10px -481px;
}

.info-text {
  width: 255px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;

  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 85px;

  text-align: center;
}

.attractions-main {
  min-height: 256px;
  background-color: chocolate;
  background-image: url("../img/index-devils-bridge.jpg");
  background-repeat: no-repeat;
  background-size: 800px;
}

.attractions-main-text {
  float: right;
  width: 400px;
  min-height: 256px;
  background-color: rgba(129, 179, 210, 1);
  text-align: center;
  color: #ffffff;
}

.column-2 {
  float:left;
  width: 400px;
  min-height: 256px;
  background-color: rgba(238, 238, 238, 1);
  text-align: center;
}

.index-booking{

  background-color: #ffffff;
  padding-top: 58px;
  text-align: center;
}

.interested {
  width: 450px;

  font-size: 30px;
  line-height: 30px;
  font-weight: bold;

  margin: 0 auto;
  margin-bottom: 34px;
}

.index-advice {
  width: 450px;

  font-size: 14px;
  line-height: 24px;
  font-weight: normal;

  margin: 0 auto;
  margin-bottom: 50px;
}

.index-btn {
  width: 568px;
  min-height: 86px;

  margin: 0 auto;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;

  font-family: 'PT Sans', "Arial", sans-serif;
  text-transform: uppercase;

  color: #ffffff;
  background-color: rgba(118, 99, 87, 1);
  border:none;
  cursor: pointer;
}

.geolocation {
  min-height: 593px;
  width: 100%;
}

.index-modal {
  position: absolute;
  width: 568px;
  min-height: 395px;
  margin-left: 316px;
  background-color: #ffffff;
  z-index: 1;
  animation: bounce 0.5s;
}

.index-form {
  padding: 55px;
}

.index-form .input-date {
  width: 314px;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 25px;
  margin-bottom: 29px;
  border: none;

  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  font-family: 'PT Sans', "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  outline: #f2f2f2 solid 3px;
}

.index-form .input-date:hover {
  background-color: rgba (235, 235, 235, 1);
}

.input-date:focus {
  outline: rgba(229, 229, 229, 1) solid 3px;

}

.label-date {
  position: relative;
}

/*.index-form  .label-date::after {*/
  /*content: "";*/
  /*position: absolute;*/

  /*z-index: 2;*/

  /*top: 50%;*/
  /*left: 430px;*/
  /*transform: translate(-50%, -50%);*/
  /*background-image: url("../img/sprite.png");*/
  /*background-repeat: no-repeat;*/
  /*width: 21px;*/
  /*height: 22px;*/
  /*background-position: -10px -355px;*/
/*}*/

.calendar-pic {
  position: absolute;

  z-index: 2;

  top: 50%;
  left: 430px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 21px;
  height: 22px;
  background-position: -10px -355px;
}

.calendar-pic:hover {
  background-position: -10px -397px;
}

.calendar-pic:active {
  background-position: -10px -439px;
}
/*.label-date:hover::after {*/
  /*left:430px;*/
  /*background-position: -10px -397px;*/
/*}*/

/*.label-date:active::after {*/
  /*left:430px;*/
  /*background-position: -10px -439px;*/
/*}*/

.index-form .label-date {
  position: relative;
  margin: 0;
  margin-right: 14px;

  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  font-family: 'PT Sans', "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.index-form .check-in {
  margin-right: 17px;
}

/*.index-amount{*/
  /*padding-right: 2px;*/
/*}*/

.index-amount-adult {
  float: left;
  width: 220px;
}

.index-amount-child {
  float: right;
  width: 179px;
}

.label-amount {
  position: relative;
  margin: 0;
  margin-right: 14px;

  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  font-family: 'PT Sans', "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

/*.adult-minus {*/
  /*position: absolute;*/

  /*z-index: 2;*/

  /*top: -15px;*/
  /*left: 125px;*/
  /*font-weight: bold;*/
  /*font-size: 40px;*/
  /*font-weight: bold;*/
  /*line-height: 40px;*/
  /*font-family: 'PT Sans', "Arial", sans-serif;*/
  /*color: rgba(169, 169, 169, 1);*/
  /*text-transform: uppercase;*/
/*}*/

/*.adult-plus {*/
  /*position: absolute;*/

  /*z-index: 2;*/

  /*top: -3px;*/
  /*left: 180px;*/
  /*font-weight: bold;*/
  /*font-size: 30px;*/
  /*font-weight: bold;*/
  /*line-height: 30px;*/
  /*font-family: 'PT Sans', "Arial", sans-serif;*/
  /*color: rgba(169, 169, 169, 1);*/
  /*text-transform: uppercase;*/
/*}*/

/*.label-adult::before {*/
  /*content: "-";*/
  /*position: absolute;*/

  /*z-index: 2;*/

  /*top: -15px;*/
  /*left: 125px;*/
  /*font-weight: bold;*/
  /*font-size: 40px;*/
  /*font-weight: bold;*/
  /*line-height: 40px;*/
  /*font-family: 'PT Sans', "Arial", sans-serif;*/
  /*color: rgba(169, 169, 169, 1);*/
  /*text-transform: uppercase;*/
/*}*/

/*.pic:hover::before  {*/
  /*color: rgba(0, 0, 0, 1);*/
/*}*/

/*.pic:active::before  {*/
  /*color: rgba(129, 179, 210);*/
/*}*/

/*.pic:hover::after  {*/
  /*color: rgba(0, 0, 0, 1);*/
/*}*/

/*.pic:active::after  {*/
  /*color: rgba(129, 179, 210);*/
/*}*/

/*.label-adult::after {*/
  /*content: "+";*/
  /*position: absolute;*/

  /*z-index: 2;*/

  /*top: -7px;*/
  /*left: 200px;*/
  /*font-weight: bold;*/
  /*font-size: 30px;*/
  /*font-weight: bold;*/
  /*line-height: 30px;*/
  /*font-family: 'PT Sans', "Arial", sans-serif;*/
  /*color: rgba(169, 169, 169, 1);*/
  /*text-transform: uppercase;*/
/*}*/

/*.label-child::before {*/
  /*content: "-";*/
  /*position: absolute;*/

  /*z-index: 2;*/

  /*top: -15px;*/
  /*left: 77px;*/
  /*font-weight: bold;*/
  /*font-size: 40px;*/
  /*font-weight: bold;*/
  /*line-height: 40px;*/
  /*font-family: 'PT Sans', "Arial", sans-serif;*/
  /*color: rgba(169, 169, 169, 1);*/
  /*text-transform: uppercase;*/
/*}*/

/*.label-child::after {*/
  /*content: "+";*/
  /*position: absolute;*/

  /*z-index: 2;*/

  /*top: -7px;*/
  /*left: 150px;*/
  /*font-weight: bold;*/
  /*font-size: 30px;*/
  /*font-weight: bold;*/
  /*line-height: 30px;*/
  /*font-family: 'PT Sans', "Arial", sans-serif;*/
  /*color: rgba(169, 169, 169, 1);*/
  /*text-transform: uppercase;*/
/*}*/

.index-amount-label-left {
  float: left;
}

.div-input {
  float: right;
  margin: 0;
  padding: 0;

  list-style: none;

  font-size: 0;
}

.input-amount {
  display: inline-block;

  width:  37px;
  min-height: 36px;

  border: none;

  text-align: center;
  vertical-align: top;

  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  font-family: 'PT Sans', "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.plus {
  display: inline-block;

  width:  37px;
  min-height: 38px;
  border: none;



  text-align: center;
  vertical-align: top;

  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  font-family: 'PT Sans', "Arial", sans-serif;
  color: rgba(169, 169, 169, 1);
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.plus:hover {
  color: rgba(0, 0, 0, 1);
}

.plus:active {
  color: rgba(129, 179, 210, 1);
}

.minus {
  display: inline-block;

  width:  37px;
  min-height: 38px;

  border: none;

  text-align: center;
  vertical-align: top;

  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  font-family: 'PT Sans', "Arial", sans-serif;
  color: rgba(169, 169, 169, 1);
  text-transform: uppercase;

  background-color: #f2f2f2;
}


.minus:hover {
  color: rgba(0, 0, 0, 1);
}

.minus:active {
  color: rgba(129, 179, 210, 1);
}

/*.adult {*/
  /*margin-left: 21px;*/
/*}*/

/*.child {*/
  /*margin-left: 5px;*/
/*}*/

.modal-btn {
  width: 100%;
  min-height: 58px;
  margin-top: 58px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;

  font-family: 'PT Sans', "Arial", sans-serif;
  text-transform: uppercase;

  color: #ffffff;
  background-color: rgba(129, 179, 210, 1);
  border:none;
  cursor: pointer;
}

.modal-btn:hover {
  background-color: rgba(102, 158, 192, 1);
}
.modal-btn:active {
  background-color: rgba(84, 150, 189, 1);
  color: rgba(136, 182, 209, 1);
}

.geolocation {
  background-color: mediumpurple;
}

.footer {
  min-height: 120px;

  font-size: 0;
}

.main-footer {
  margin-top: -120px;

}


.foot {
  display: inline-block;

  line-height: 26px;
  vertical-align: top;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-hashtag {
  width: 400px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;

  padding-top: 47px;
  padding-bottom: 47px;
  text-align: center;
}

.footer-social {
  width: 400px;
  font-size: 16px;

  padding-top: 32px;
  padding-bottom: 33px;

  text-align: center;
}

.social-btn {
  display: inline-block;
  width: 48px;
  height: 48px;


  margin-right: 3px;
  background: rgba(129, 179, 210, 1) url("../img/sprite.png") no-repeat center;
}

.social-btn:hover {
  background-color: rgba(102, 158, 192, 1);
}

.social-btn-tw {
  background-position: 5px -931px;
}

.social-btn-tw:active {
  background-color: rgba (84, 150, 189, 1);
  background-position: 5px -966px;
}

.social-btn-fb {
  background-position: 10px 5px;
}

.social-btn-fb:active {
  background-position: 10px -34px;
}

.social-btn-you {
  background-position: 5px -1002px;
}

.social-btn-you:active {
  background-position: 5px  -1038px;
}

.footer-copyright {
  /*width: 400px;*/

  width: 298px;

  font-size: 14px;
  line-height: 26px;

  padding-top: 47px;
  padding-bottom: 47px;
  padding-left: 102px;

  text-align: left;
}

.logo-image {
  position: relative;
  padding-right: 200px;
  margin-left: 8px;
  color: #000000;
  text-decoration: none;
}

.logo-image::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 130px;
  height: 72px;
  background-position: 5px -72px;
}

.logo-image:hover::after {
  background-position: 5px -131px;
}

.logo-image:active::after {
  background-position: 5px -190px;
}

.index-modal-hide {
  display: none;
}

@keyframes bounce {
  0%   {
    transform: translateY(-100px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* ------------------------------------ Внутренняя страница ----------------------------------- */
.main-navigation .active {
  color: #766357;
}



.container-inner{
  /*width: 1056px;
  margin: 0 auto;*/
  padding-left: 72px;
  padding-right: 72px;
}
.inner-search {
  /*min-height: 220px;*/
  background-color: #e4f1f9;
  background: url("../img/inner-mountain-blur.jpg") center top;
  background-size: 100%;
}

.inner-checkboxes-infrastructure {
  float: left;
  width: 240px;

  margin-left: 72px;
  margin-right: 14px;
}

.inner-checkboxes-house {
  float: left;
  width: 240px;
}

.inner-checkboxes-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.inner-checkboxes-list li{
  margin-bottom: 28px;
}

.inner-checkbox{
  position: relative;

  padding-left: 40px;
  cursor: pointer;

  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  font-family: 'PT Sans', "Arial", sans-serif;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.inner-checkbox input[type="checkbox"] {
  display: none;
}

.inner-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  background-position: -10px -753px;
}

.inner-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 22px;
  background-position: -10px -669px;
}

.inner-content-title {
  padding-top: 29px;
  margin-bottom: 28px;

  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  font-family: 'PT Sans', "Arial", sans-serif;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.inner-filter-range {
  float: right;
  width: 330px;

  margin-top: 30px;
  margin-bottom: 42px;
  margin-right: 72px;

  color: #ffffff;
  text-transform: uppercase;
}

.inner-filter-range-title {
  margin-bottom: 9px;

  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.inner-price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.inner-price-controls::after {
  content: "";
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 2px;
  height: 22px;

  background: #ffffff;
}

.inner-price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.inner-price-controls .min-price,
.inner-price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.inner-price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font-family: inherit;
  font-size: inherit;

  background: none;
  border: none;
}

.inner-range-controls {
  position: relative;

  margin-bottom: 32px;
}

.inner-range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.inner-range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.inner-btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.inner-btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.number-items {
  float: left;
  line-height: 26px;
  padding-top: 30px;
  padding-bottom: 30px;

  font-size: 21px;
  font-weight: bold;
  color: #000000;
  font-family: 'PT Sans', "Arial", sans-serif;
  text-transform: uppercase;

}

.inner-sort {
  float: left;

  line-height: 18px;
  font-size: 12px;
  font-weight: normal;

  margin-left: 50px;
  margin-right: 40px;
  padding-top: 34px;
  padding-bottom: 34px;
}

.inner-types {
  float: left;
  /*width: 250px;*/

  line-height: 18px;
  font-size: 12px;
  font-weight: normal;

  padding-top: 34px;
  padding-bottom: 34px;
}

.types-btn {
  display: inline-block;

  margin-right: 33px;

  text-decoration: none;
  color: rgba(204, 204, 205, 1);
  border-bottom: 1px dashed rgba(204, 204, 205, 1);
}

.types-btn:hover {
  color: #81b3d2;
}

.types-btn:active {
  color: #000000;
  border: none;
}

.types-btn:focus {
  color: #81b3d2;
  border: none;
}

.active {
  color: #81b3d2;
  border-bottom: none;
}

.arrows {
  float: right;

  margin-top: 28px;
  margin-bottom: 28px;
}

a.arrow {
  display: inline-block;
  margin: 0 5px;
  font-size: 0;
}

.arrow::before {
  content: "";
  display: inline-block;
  border: 10px solid #cccccc;
  border-right-width: 5px;
  border-left-width: 5px;
  border-right-color: transparent;
  border-left-color: transparent;
}

.arrow-up::before {
  border-top-width: 0;
}

.arrow-up:hover::before {
  border: 10px solid #000000;
  border-right-width: 5px;
  border-left-width: 5px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-width: 0;
}

.arrow-up:active::before {
  border: 10px solid #81b3d2;
  border-right-width: 5px;
  border-left-width: 5px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-width: 0;
}

.arrow-up:focus::before {
  border: 10px solid #81b3d2;
  border-right-width: 5px;
  border-left-width: 5px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-width: 0;
}

.arrow-down::before {
  border-bottom-width: 0;
}

.arrow-down:hover::before {
  border: 10px solid #000000;
  border-right-width: 5px;
  border-left-width: 5px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-width: 0;
}

.arrow-down:active::before {
  border: 10px solid #81b3d2;
  border-right-width: 5px;
  border-left-width: 5px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-width: 0;
}

.arrow-down:focus::before {
  border: 10px solid #81b3d2;
  border-right-width: 5px;
  border-left-width: 5px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-width: 0;
}

.hotel {
  /*min-height: 150px;*/
  border-top: 1px solid #E5E5E5;
}

.hotel-img {
  float: left;
  width: 135px;
  height: 90px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  background-color: chocolate;
}

.hotel-info {
  float: left;
  width: 300px;

  margin-top: 30px;
  margin-bottom: 30px;
}

.hotel-info .hotel-name {
  padding: 0;
  margin: 0;

  margin-bottom: 12px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  font-family: 'PT Sans', "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: #b2b2b2;
}

.hotel-info-left {
  float: left;
  width: 110px;
  margin-right: 6px;
}

.hotel-info-right {
  float: left;
  width: 142px;
}

.hotel-info .hotel-type {
  margin-bottom: 12px;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.hotel-info .hotel-price {
  margin-bottom: 12px;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.btn-details {
  display: block;
  width: 98px;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 0;
  padding-left: 12px;


  font-family: 'PT Sans', "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;

  background: rgba(129, 179, 210, 1);
  cursor: pointer;
}

.btn-details:hover {
  background: #669ec0;
}

.btn-details:active {
  color: #88b6d1;
  background: #5496bd;
}

.btn-order {
  display: block;
  width: 130px;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 0;
  padding-left: 12px;


  font-family: 'PT Sans', "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;

  background: rgba(118, 99, 87, 1);
  cursor: pointer;
}

.btn-order:hover {
  background: #604e43;
}

.btn-order:active {
  color: #857871;
  background: #503e33;
}

.hotel-rating {
  float: right;
  width: 111px;
  min-height: 90px;
  margin-top: 30px;
  margin-bottom: 30px;

}

.hotel-rating-number {
  position: relative;
  width: 101px;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 0px;
  padding-left: 10px;
  margin-top: 59px;

  font-family: 'PT Sans', "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  text-transform: uppercase;

  background: rgba(242, 242, 242, 1);
  cursor: pointer;
}

.four-stars::before {
  content: "";
  position: absolute;
  bottom: 73px;
  right: 0;
  /*transform: translate(-50%, -50%);*/
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 89px;
  height: 17px;
  background-position: -10px -911px;
}

.three-stars::before {
  content: "";
  position: absolute;
  bottom: 73px;
  right: 0;
  /*transform: translate(-50%, -50%);*/
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 65px;
  height: 17px;
  background-position: -10px -875px;
  }

.two-stars::before {
  content: "";
  position: absolute;
  bottom: 73px;
  right: 0;
  /*transform: translate(-50%, -50%);*/
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 42px;
  height: 17px;
  background-position: -10px -838px;
}

.hotel-last {
  border-bottom: 1px solid #E5E5E5;
}

.inner-foot {
  display: inline-block;
  width: 352px;
  line-height: 26px;
  vertical-align: top;

}

